/OSSKey.properties
/com/
/db.properties
/generator.properties
/iot.properties
/log4j.properties
/mybatis.xml
/oneNet.properties
/pub/
/redis.properties
/resource.properties
/spring-config.xml
/spring-im-config.xml
/spring-jdbc.xml
/spring-mvc.xml
/spring-redis.xml
/sys.properties
